@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #425eff;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}

.brand-container {
    text-align: center;
}

.logo {
    width: 25%;
    height: auto;
}

.wordmark {
    width: 20%;
    height: auto;
}

h1,
h2 {
    font-family: 'Barlow', sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.25em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}